<ion-content class="ion-padding">
  <app-header></app-header>

  <div class="register-container">
    <div class="register-box">
      <h1>Registrar Nuevo Usuario</h1>

      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Clave</ion-label>
        <ion-input [(ngModel)]="clave" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input [(ngModel)]="nombreCompleto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input [(ngModel)]="telefono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Rol</ion-label>
        <ion-select [(ngModel)]="rol">
          <ion-select-option value="docente">Docente</ion-select-option>
          <ion-select-option value="estudiante">Estudiante</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" (click)="registrar()" class="ion-margin-top">
        Registrar
      </ion-button>

      <ion-text color="success" *ngIf="successMessage" class="message-text">
        {{ successMessage }}
      </ion-text>

      <ion-text color="danger" *ngIf="errorMessage" class="message-text">
        {{ errorMessage }}
      </ion-text>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
