<div class="pie">
  <p [ngStyle]="{'color':getColor()}">
    Footer
  </p>
  <p><a [routerLink]= "['/']">Home</a></p>
  <p><a [routerLink]= "['/not-found']">NotFound</a></p>


  @if (usuario){

    <p><a [routerLink]= "['/logout']">Logout</a></p>
    @if(usuarioCompleto.rol === 'docente'){
      <p><a [routerLink]="['/docente']">Docente</a></p>
      <p><a [routerLink]="['/asig-profe']">Asignatura</a></p>
    <p><a [routerLink]="['/asist-profe']">Asistencia</a></p>
    }
    @else{
      <p><a [routerLink]="['/estudiante']">Alumno</a></p>
      <p><a [routerLink]="['/asig-alumno']">Asignatura A</a></p>
    <p><a [routerLink]="['/asist-alumno']">Asistencia A</a></p>


    }
  }
  @else{
    <p><a [routerLink]= "['/login']">Login</a></p>
  }


</div>
